:root {
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-15: 0.938rem;
  --size-18: 1.125rem;
  --size-22: 1.375rem;
  --size-30: 1.875rem;
  --size-50: 3.125rem;
  --button-primary: rgba(64, 64, 233, 0.5);
  --bg: rgba(54, 70, 219, 1);
}

section,
header,
footer,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-weight: 400;
}

a {
  color: #495f3f;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  outline: none;
}

.container {
  max-width: 1140px;
}

.container-md {
  max-width: 640px;
}

.container,
.container-md {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.ul-defaults-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-weight: 700;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 50rem;
  cursor: pointer;
  letter-spacing: 1.1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #161c2d;
  background-color: #fff;
  box-shadow: 0 -3px 5px 0px var(--button-primary) inset;
  transition: box-shadow 0.3s, transform 0.3s;
}

.btn-primary:hover {
  box-shadow: 0 -5px 6px 3px var(--button-primary) inset;
  transform: scale(1.089);
}

.btn-primary:active {
  position: relative;
  top: 2px;
  background-color: rgba(30, 55, 246, 0.1);
}

.btn-secondary {
  transition: background-color 0.2s ease-in-out, border 0.1s;
}

.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

.btn-secondary:active {
  transition: none;
  background-color: rgba(0, 0, 0, 0.025);
}
.input-primary {
  outline: none;
  padding: 0.5rem 0.8rem;
  border-radius: 50rem;
  border: 1px solid black;
  box-shadow: 0px 1.4px 6px 1px rgba(0, 0, 0, 0.1),
    0px 1.4px 1px 1px rgba(0, 0, 0, 0.2) inset,
    0px -2.5px 1px 1px var(--button-primary) inset;
}
