
.transaction-app-wrapper 
{
   border: 1px solid rgba(25,25,25, 0.6);
   box-shadow: -1px 1px 1px 1px black;
   margin-top:3rem;
}

.transaction-app-wrapper .transaction-button-container {
   margin: 1rem 0;
}

.transaction-app-wrapper .transaction-history-container > h3 {
   padding-bottom: 1rem;
   border-bottom: 2px solid var(--border);
}



.full-site-modal {
   visibility:hidden;
   opacity:0;
}










/* :root {
   --background-color:#e3e3e3;
   --border-size: 2px;
   --accent-color: #0AF;
}

*, *::after, *::before {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content:center;
   margin:0;
   font-size:1rem;
}

.btn {
   background-color: var(--background-color);
   display:block;
   font-size: 1.2rem;
   letter-spacing:1.2px;
   padding:0.8rem 1rem;
   border:none;
   outline:none;
   margin: 2rem auto;
   color: #222;
   position:relative;
   cursor:pointer;
}

.btn.btn-border-pop::before {
   content: '';
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   z-index: -1;
   border: var(--border-size) solid var(--background-color);
   transition: 0.3s ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
   top:calc(var(--border-size) * -2);
   bottom:calc(var(--border-size) * -2);
   left:calc(var(--border-size) * -2);
   right:calc(var(--border-size) * -2);
   top:calc(var(--border-size) * -2);
}

.btn.btn-background-slide {
   transition: 0.3s ease-in;
}


.btn.btn-background-slide::before {
   content: '';
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   z-index: -1;
   background-color: var(--accent-color);
   width:0;
   transition: width 0.35s ease-in;
   border-top-right-radius:50rem;
   border-bottom-right-radius:50rem;
}

.btn.btn-background-slide {
   z-index: 1;
   overflow:hidden;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
   color:white;
}

.btn.btn-background-slide:hover::before {
   width:120%;
}

.btn.btn-background-circle {
   z-index:1;
   overflow:hidden;
}

.btn.btn-background-circle::before {
   content: "";
   top:0;
   bottom: 0;
   left:0;
   right:0;
   position:absolute;
   z-index: -1;
   border-radius:50%;
   transform:scale(1.5);
} */