body {
  background-color: var(--bg);
}

.full-site-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.full-site-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.full-site-modal .modal-body {
  padding: 1rem;
  border: 0.8px solid transparent;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  top: -20px;
  visibility: hidden;
  opacity: 0;
  transition: top 0.35s, visibility 0.35s, opacity 0.35s;
}

#transaction-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-body .left-side {
  margin-right: 20px;
}

.modal-body .left-side,
.modal-body .right-side {
  max-width: 320px;
}

.modal-body .left-side > div,
.modal-body .right-side > div {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal-body .new-balance {
  text-align: center;
}

.transaction-container {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 1px 24px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 -5px 6px 3px var(--button-primary) inset;
  padding: 1rem;
}

.left-side .btn-center {
  justify-content: space-between;
  height: 35px;
}

.left-side .btn-center input,
.left-side .btn-center button {
  width: 48%;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#transaction-history {
  padding-bottom: var(--size-18);
}

.history-header {
  text-align: center;
  border-bottom: 1.5px solid black;
  padding: 1.5rem 0;
  margin-bottom: var(--size-30);
}

.history-header h1 {
  margin-bottom: var(--size-10);
}

#new-transaction-button {
  font-size: var(--size-15);
}

.transaction-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 6px 5px 2px 1px rgba(0, 0, 0, 0.123);
}

.transaction-card > div {
  margin: 1rem 3rem;
  font-size: var(--size-15);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

[data-animation="fadeInOut"] {
  transition: visibility 0.35s, opacity 0.35s;
}

[data-animation="fadeInOut"].is-visible .modal-body {
  transition-delay: 0.17s;
  top: 0;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 340px) {
  #transaction-form {
    justify-content: center;
    text-align: center;
  }
}
